@use '../utils/mixins' as *;

.career-features {
  overflow: visible;
  @include media(md) {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap:16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    @include media(md) {
      height: 280px;
    }

    &:nth-child(1) {
      border:1px solid var(--dark-border)
    }

    &:nth-child(2) {
      color:var(--white-color);
      background: linear-gradient(180deg, #4A70B8 0%, #2E3A67 100%);
    }

    &:nth-child(3) {
      color:var(--white-color);
      background: var(--dark-color)
    }
  }

  &__title {
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
    @include media(md) {
      font-size: rem(20px);
    }
  }

  &__desc {
    font-size: rem(32px);
    line-height: 125%;
    letter-spacing: -0.015em;
    @include media(md) {
      font-size: rem(20px);
    }
  }
}