@use '../utils/mixins' as *;

.contacts-block {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--white-color);
  background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);
  @include media(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    @include media(md) {
      grid-template-columns: 1fr;
      gap:30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: rem(40px);
    line-height: 120%;
    letter-spacing: -0.02em;
    @include media(md) {
      font-size: rem(30px);
    }
  }
}

.contacts-managers {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
  @include media(md) {
    --bs-gutter-x: 4px;
    --bs-gutter-y: 4px;
  }

  &__item {
    position: relative;
    height: 0;
    padding-bottom: calc(418px / 365px * 100%);
    @include media(md) {
      padding-bottom: calc(240px / 162px * 100% );
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--white-color);
  }

  &__name {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: rem(24px);
    line-height: 150%;
    letter-spacing: -0.01em;
    @include media(md) {
      margin-bottom: 4px;
      font-size: rem(16px);
    }
  }

  &__position {
    color: var(--lt-gray-color);
    line-height: 150%;
    @include media(md) {
      font-size: rem(12px);
    }
  }
}

.contacts-list {
  @include media(md) {
    gap:20px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: rem(14px);
    line-height: 143%;
    opacity: 0.5;
    @include media(md) {
      margin-bottom: 12px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

  }

  &__item {
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
    text-decoration: none;
   
    
    @include media(md) {
      font-size: rem(20px);
    }
  }
}
