@use '../utils/mixins' as *;

.features {
  --bs-gutter-x:20px;
  --bs-gutter-y:20px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    background: #DEEFFF;
  }

  &__index{
    display: block;
    background: linear-gradient(180deg, #4A70B8 0%, #2E3A67 100%);

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    font-weight: 400;
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
  }
}