@use '../utils/mixins' as *;

.header {
  padding-top: 30px;
  padding-bottom: 30px;

  &:not(.header--mobile) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }

  &__inner {
    display: flex;
    gap:60px;
    align-items: center;
    justify-content: space-between;
  }

  &--scrolled {
    position: fixed !important;
    z-index: 100;
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background: var(--white-color);
    border-bottom: 1px solid var(--dark-border);
    transform: translateY(-100%);
    transition: .5s;

    &--active {
      display: block;
      transform: translateY(0%);
    }
  }
  @include media(md) {
    gap:16px;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__btn {
    flex:none;
    margin-left: auto;
    @include media(md) {
      padding: 10px 12px;
      font-size: rem(12px);
    }
  }

  &__nav {
    @include media(md) {
      display: none;
    }
  }
}

