@use '../utils/mixins'  as *;

.section-hero {
  padding-bottom: 0;
}

.hero {
  margin-bottom: 30px;

  &__back {
    margin-bottom: 40px;
    padding: 12px 16px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: rem(60px);
    line-height: 120%;

    span {
      background: linear-gradient(180deg, #4A70B8 0%, #2E3A67 100%);

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__image {
    margin-top: 40px;
  }

  &__desc {
    margin-bottom: 0;
    line-height: 150%;
    text-indent: 50px;
  }
}