@use '../utils/mixins' as *;

.stat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:80px 20px;
  margin: 60px 0;

  &__item {
    padding-left: 20px;
    border-left: 1px solid var(--dark-border);
  }

  &__title {
    margin-bottom: 32px;
    font-size: rem(60px);
    line-height: 120%;
  }
}

.content-block {
  display: flex;
  gap:150px;

  &__title {
    max-width: 424px;
  }
}

.full-w-slider {
  position: relative;

  picture {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    position: absolute;right:0;
    bottom: 40px;
    left: 0;
    z-index: 10;
    display: flex;
    gap:14px;
    align-items: center;
    justify-content: center;
    min-height: 20px;

    &-bullet {
      display: block;
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 50%;
      opacity: .4;
      transition: .5s;

      &-active {
        width: 15px;
        height: 15px;
        opacity: 1;
      }
    }
  }
}