@use '../utils/mixins' as *;

.services-block-secondary {
  $this: &;

  height: 500px;
  @include media(sm) {
    height: 300px;
  }

  &__item {
    position: relative;
    height: 440px;
    transition: height .5s;
    @include media(sm) {
      height: 300px;
    }

    &:hover {
      height: 500px;
      @include media(sm) {
        height: 300px;
      }
      #{$this}__arrow-icon {
        transform: translate(-50%,-50%) scale(1);
        visibility: visible;
        opacity: 1;
      }
      #{$this}__title {
        text-decoration: underline;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background:linear-gradient(180deg, rgba(17, 17, 17, 0%) 37.95%, rgba(17, 17, 17, 40%) 100%);
      content:'';
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color:var(--white-color);
    font-size: rem(24px);
  }

  &__arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: var(--white-color);
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(.5);
    visibility: hidden;
    opacity: 0;
    transition: all .7s;
  }
}