.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  &__pagination {
    margin: 0 1.3rem;
    color:var(--gray-color);
    line-height: 150%;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border:1px solid var(--dark-border);
    border-radius: 16px;
    transition: background .5s;

    &:hover {
      background: var(--white-color);
    }
  }
}