@use '../utils/mixins' as *;

.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(md) {
    justify-content: flex-start;
  }

  &__pagination {
    margin: 0 1.3rem;
    color: var(--gray-color);
    line-height: 150%;
    width: auto;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 1px solid var(--dark-border);
    border-radius: 16px;
    transition: background 0.5s;

    &:hover {
      background: var(--white-color);
    }
  }
}

.slider-pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  --swiper-pagination-bullet-width: 85px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-border-radius: 0%;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-color: #fff;
}
