@use '../utils/mixins' as *;

.team-item {
  $this: &;

  &:hover {
    #{$this}__image img {
      filter: grayscale(80%);
    }

    #{$this}__name {
      &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__image {
    position: relative;
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: calc(500px / 440px * 100%);
    overflow: hidden;
    @include media(md) {
      margin-bottom: 12px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
    position: relative;
    &::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: currentcolor;
      transform: scale3d(0, 1, 1);
      transform-origin: 100% 50%;
      transition: transform 0.3s;
      content: '';
      pointer-events: none;
    }
    @include media(md) {
      margin-bottom: 8px;
      font-size: rem(20px);
    }
  }

  &__position {
    line-height: 150%;
    background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media(md) {
      font-size: rem(12px);
    }
  }
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.team-single {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  @include media(md) {
    flex-direction: column;
    gap: 0;
  }

  &__image-wrapper {
    position: relative;
    flex: 1;
    min-height: 630px;
    @include media(md) {
      flex: none;
      width: 100%;
      height: 400px;
      min-height: auto;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__tags-list {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__tags-item {
    padding: 12px 20px;
    background: var(--white-color);
    border-radius: 16px;
    @include media(md) {
      padding: 8px 12px;
      font-size: rem(14px);
    }
  }

  &__information {
    flex: 1;
  }
}

.team-information {
  padding: 40px;
  background: var(--lt-gray-color);
  @include media(md) {
    padding: 30px calc(var(--bs-gutter-x) * 0.5) 30px calc(var(--bs-gutter-x) * 0.5);
  }

  &__name {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: rem(40px);
    line-height: 120%;
    letter-spacing: -0.02em;
    @include media(md) {
      font-size: rem(36px);
    }
  }

  &__position {
    margin-bottom: 32px;
    font-size: rem(16px);
    line-height: 150%;
    background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.information-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 20px;
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  &__item {
    &--list {
      grid-column: span 2;
      @include media(md) {
        grid-column: auto;
      }
    }
  }

  &__heading {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: rem(14px);
    line-height: 100%;
    background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media(md) {
      margin-bottom: 16px;
    }
  }

  &__value {
    line-height: 150%;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__links-item {
    @include link-hover;

    align-self: flex-start;
    line-height: 150%;
    text-decoration: none;

    span {
      background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
    margin: 0;
    padding: 0;
    @include media(md) {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    display: flex;
    line-height: 150%;

    &::before {
      display: block;
      flex: none;
      width: 12px;
      height: 1px;
      margin-top: 10px;
      margin-right: 16px;
      background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);
      content: '';
    }

    span {
      background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
