@use '../utils/mixins' as *;

.vacancy-sidebar {
  position: relative;
  height: 520px;
  @include media(md, min-width) {
    position: sticky;
    top: 20px;
  }
  @include media(md) {
    order: -1;
    height: 340px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    bottom: 30px;
    left: 54px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 280px;
    @include media(md) {
      bottom: 20px;
      left: 16px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-bottom: 24px;
    line-height: 150%;
  }
}

.vacancy-single {
  display: grid;
  grid-template-columns: 1fr 440px;
  gap: 105px;
  margin-top: var(--gap-y-m);
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-y-m);
  }
}

.vacancy-section {
  &__title {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: rem(40px);
    line-height: 120%;
    letter-spacing: -0.02em;
    @include media(md) {
      margin-bottom: 30px;
      font-size: rem(30px);
    }
  }
}

.vacancy-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  border-left: 1px solid var(--dark-border);

  &__item {
    font-size: rem(18px);
    line-height: 140%;
    letter-spacing: -0.01em;
    @include media(md) {
      font-size: rem(16px);
    }
  }
}

.vacancy-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include media(md) {
    grid-template-columns: 1fr;
  }

  &__form {
    padding: 40px;
    background: var(--lt-gray-color);
    @include media(md) {
      padding: 24px 16px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: rem(40px);
    line-height: 120%;
    letter-spacing: -0.02em;
  }

  &__desc {
    margin-bottom: 40px;
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
  }
}

.vacancy-manager {
  position: relative;
  @include media(md) {
    display: flex;
    gap: 16px;
    align-items: center;
    order: -1;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include media(md) {
      position: relative;
      display: block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contacts-cta__text {
    @include media(md) {
      display: none;
    }
  }

  &__info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--white-color);
    @include media(md) {
      position: relative;
      bottom: auto;
      left: auto;
      flex-direction: column-reverse;
      gap: 4px;
      color: var(--dark-color);
    }
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: rem(40px);
    line-height: 120%;
    letter-spacing: -0.02em;
    @include media(md) {
      font-size: rem(24px);
    }
  }

  &__position {
    margin: 0;
    font-size: rem(24px);
    line-height: 133%;
    letter-spacing: -0.01em;
    @include media(md) {
      font-size: rem(16px);
      background: linear-gradient(180deg, #4a70b8 0%, #2e3a67 100%);

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.vacancy-experts {
  padding: 40px;
  border: 1px solid var(--dark-border);
  @include media(md) {
    padding: 20px;
  }

  &__job {
    font-weight: 500;
    font-size: rem(15px);
    line-height: 160%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.vacancy-expert {
  display: flex;
  gap: 24px;

  &__image {
    display: block;
    width: 77px;
    height: 77px;
    overflow: hidden;
    border-radius: 50%;
    flex: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 280px;
  }

  &__name {
    margin-bottom: 8px;
    font-size: rem(20px);
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
  }

  &__link {
    line-height: 150%;
    text-decoration: none;
    @include link-hover;
  }

  &__desc {
    opacity: 0.5;
  }
}
