-
  var menu = [
    {
      name:'Startseite',
      link:'/'
    },
    {
      name:'Rechtsgebiete',
      link:'services.html'
    },
    {
      name:'Über uns',
      link:'about-us.html'
    },
    {
      name:'Cases / News',
      link:'cases-and-news.html'
    },
    {
      name:'Team',
      link:'team.html'
    },
    {
      name:'Team single',
      link:'team-single.html'
    },
    {
      name:'Karriere',
      link:'career.html'
    },
    {
      name:'Karriere single',
      link:'career-single.html'
    },
    {
      name:'Kontakt',
      link:'contacts.html'
    },
  ]