extends ../layouts/main

block vars
  - const title = 'Home';
  - const pageName = 'home-page';

block content
  - const heroTitle = 'Cases & News'
  - const heroImage = '@/assets/img/hero/5.jpg'
  include ../components/hero
  include ../components/tabs
  include ../components/cta





