extends ../layouts/main

block vars
  - const title = 'Home';
  - const pageName = 'home-page';

block content
  - const heroTitle = 'Diese Seite existiert nicht'
  - const col12 = true
  - const heroBack = true
  - const heroImage = '@/assets/img/hero/10.jpg'
  section.section.section--hero.pb-0
  .hero.m-0
    .container.d-md-flex.justify-content-between.align-items-center
      .col-md-12
        if heroBack
          a.btn.btn--primary.btn--back-link.btn--arrow(href="") 
            svg(width='24' height='24')
              use(href='./assets/sprite.svg#arrow-link')
            | Zurück
        .row.d-flex.flex-column-reverse.flex-md-row
          .col-md-7.col-12   
            h1.hero__title=heroTitle
          .col-md-5.col-12.d-flex.align-items-end.justify-content-md-end
            p.blue-text 404
    if heroImage
      .container-fluid.g-0
        picture.hero__image.d-block.w-100.ratio.ratio-16x9
          img(src=heroImage alt="")