extends ../layouts/main

block content
  - const heroTitle = 'Arbeitsrecht'
  - const heroBack = true
  - const heroImage = '@/assets/img/hero/3.jpg'
  include ../components/hero
  include ../components/page-description
  include ../components/features
  include ../components/contacts-block