extends ../layouts/main

block vars
  - const title = 'Home';
  - const pageName = 'home-page';

block content
  - const heroTitle = 'Vielen Dank für Ihre Bewerbung! Wir melden uns innerhalb von 5 Tagen bei Ihnen zurück.'
  - const heroBack = true
  - const heroImage = '@/assets/img/hero/9.jpg'
  section.section.section--hero.pb-0
  .hero.m-0
    .container.d-md-flex.justify-content-between.align-items-center
      div(class=col12 ? 'col-md-12' : 'col-md-8')
        if heroBack
          a.btn.btn--primary.btn--back-link.btn--arrow(href="") 
            svg(width='24' height='24')
              use(href='./assets/sprite.svg#arrow-link')
            | Return
        h1.hero__title=heroTitle
      if heroDesc
        .col-md-4 
          p.hero__desc=heroDesc
    if heroImage
      .container-fluid.g-0
          picture.hero__image.d-block.w-100.ratio.ratio-16x9
            img(src=heroImage alt="")

