section.section.container 
  .section-heading 
    h2.section-heading__title Rechtsfälle, in denen wir hervorragende Arbeit für unsere Kunden geleistet haben
    .section-heading__text 
      p.section-heading__desc Um unsere Mandanten umfassend und professionell beraten und betreuen zu können, betrachten wir es als Notwendigkeit
      a.sectoin-heading__link(href="") Zum Cases & News
  .cards-block.js-cards-slider 
    .swiper-wrapper
      each val in [1,1,1,1,1,1,1,1]
        article.card-item.swiper-slide
          a.card-item__link(href="") 
            .card-item__image-wrapper 
              span.card-item__tag Gesellschaftsrecht
              picture.card-item__image 
                img(src="@/assets/img/cards/1.jpg" alt="")
            .card-item__text 
              h3.card-item__title The Rebirth of Insurance
              p.card-item__desc Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und dies...
