section.section.container 
  .section-heading 
    h2.section-heading__title Eintritt in ein <span>stabiles</span> und <span>schnell</span> <span>wachsendes</span> Unternehmen
    .section-heading__text 
      p.section-heading__desc Ihre Karriere bei OHLETZ - Hervorragende Karrierechancen in einer der größten Kanzlei Deutschlands. Jetzt ein Teil von unserem Expertenteam werden!  
  .career-block.d-flex.flex-wrap
    .col-12.col-md-8 
      picture.career-block__image
        img(src="@/assets/img/career-block.jpg" alt="")
    .col-12.col-md-4 
      a.career-block__btn(href="") 
        .career-block__icon-wrapper 
          span.career-block__icon-circle 
          span.career-block__icon-circle 
          span.career-block__icon-circle 
          span.career-block__icon-circle 
          .career-block__icon
            svg(width='32' height='32')
              use(href='./assets/sprite.svg#arrow')
