section.section.pb-0
  .contacts-block
    .contacts-block__inner.container 
      .contacts-block__content 
        h3.contacts-block__title Ihre Ansprechpartner für Arbeitsrecht
        .contacts-list.contacts-block__list
          .contacts-list__item 
            h4.contacts-list__title Sekretariat
            .contacts-list__list 
              a.contacts-list__item(href="") 0201 95 98 2-313
              a.contacts-list__item(href="") c.buchholz@ohletz.eu
          .contacts-list__item 
            h4.contacts-list__title Sprachen
            .contacts-list__list 
              .contacts-list__item Englisch
              .contacts-list__item Französisch
      .contacts-block__managers.contacts-managers
        a.contacts-managers__item(href="")
          picture.contacts-managers__image 
            img(src="@/assets/img/managers/2.jpg" alt="")
          .contacts-managers__text
            h5.contacts-managers__name Reinhard Denker
            span.contacts-managers__position Rechtsanwalt, Steuerberater, Notar
  .contacts-block-slider 
    .container.contacts-block-slider__inner
      .contacts-block-slider__header.row
        h3.contacts-block__title.col-md-6.col-12 Ihre Ansprechpartner für Arbeitsrecht
        .col-md-6.col-12.row.gap-3.gap-md-0
          .contacts-list__item.col-md-6.col-12 
            h4.contacts-list__title Sekretariat
            .contacts-list__list 
              a.contacts-list__item(href="") 0201 95 98 2-313
              a.contacts-list__item(href="") c.buchholz@ohletz.eu
          .contacts-list__item.col-md-6.col-12 
            h4.contacts-list__title Sprachen
            .contacts-list__list 
              .contacts-list__item Englisch
              .contacts-list__item Französisch
      .contacts-block-slider__slider.swiper.js-contacts-block-slider 
        .swiper-wrapper 
          each val in [1,1,1,1,1,1,]
            .swiper-slide
              .contacts-managers
                a.contacts-managers__item(href="")
                  picture.contacts-managers__image 
                    img(src="@/assets/img/managers/2.jpg" alt="")
                  .contacts-managers__text
                    h5.contacts-managers__name Reinhard Denker
                    span.contacts-managers__position Rechtsanwalt, Steuerberater, Notar
        .slider-pagination