section.section
  .contacts-block
    .contacts-block__inner.container 
      .contacts-block__content 
        h3.contacts-block__title Ihre Ansprechpartner für Arbeitsrecht
        .contacts-list.contacts-block__list.row
          .col-md-6.col-12
            .contacts-list__item 
              h4.contacts-list__title Sekretariat
              .contacts-list__list 
                a.contacts-list__item(href="") 0201 95 98 2-313
                a.contacts-list__item(href="") c.buchholz@ohletz.eu
          .col-md-6.col-12
            .contacts-list__item 
              h4.contacts-list__title Sprachen
              .contacts-list__list 
                .contacts-list__item Englisch
                .contacts-list__item Französisch
      .contacts-block__managers.contacts-managers.row
        .col-6
          .contacts-managers__item
            picture.contacts-managers__image 
              img(src="@/assets/img/managers/1.jpg", alt="")
            .contacts-managers__text
              h5.contacts-managers__name Lukas Erdmann
              span.contacts-managers__position Rechtsanwalt
        .col-6
          .contacts-managers__item
            picture.contacts-managers__image 
              img(src="@/assets/img/managers/2.jpg", alt="")
            .contacts-managers__text
              h5.contacts-managers__name Reinhard Denker
              span.contacts-managers__position Rechtsanwalt, Steuerberater, Notar

