section.section.container-fluid.g-0.pb-0
  .cta-vacancy
    picture.cta-vacancy__picture
      img(src="@/assets/img/cta-secondary.jpg" alt="")
    .container.cta-vacancy__text 
      h4.cta-vacancy__title Herausforderungen können nur <span>gemeinsam gemeistert</span> werden
      a.cta-vacancy__link(href="") Aktuelle Stellenausschreibungen
        svg(width='24' height='24')
          use(href='./assets/sprite.svg#arrow')
