section.section
  .cta-image 
    picture.cta-image__image
      img(src="@/assets/img/cta-image.jpg" alt="")
    .container.cta-image__text
      h2.cta-image__title OHLETZ! Wir beraten, betreuen, verhandeln und vertreten vor Gericht. Bundesweit. Vertrauen Sie uns.