section.cta-section.container-fluid.g-0 
  .cta 
    picture.cta__picture 
      img(src="@/assets/img/cta.jpg" alt="")
    .cta__content.container
      h3.cta__title Was können wir für Sie tun? 
      .cta__contacts 
        a.cta__link(href="") +49 201 95 98 2-0
        a.cta__link(href="") info@ohletz.eu