  section.section.container 
    .section-heading 
      h2.section-heading__title Wir stehen Konzernen, Gesellschaften und Unternehmern in allen Phasen unternehmerischen Handelns zur Seite.
    .swiper.js-default-slider.overflow-visible 
      .swiper-wrapper 
        .swiper-slide 
          picture.ratio.ratio-1x1
            img.object-fit-cover(src="@/assets/img/swiper/1.jpg" alt="")
        .swiper-slide 
          picture.ratio.ratio-1x1
            img.object-fit-cover(src="@/assets/img/swiper/2.jpg" alt="")
        .swiper-slide 
          picture.ratio.ratio-1x1
            img.object-fit-cover(src="@/assets/img/swiper/2.jpg" alt="")
        .swiper-slide 
          picture.ratio.ratio-1x1
            img.object-fit-cover(src="@/assets/img/swiper/1.jpg" alt="")
        .swiper-slide 
          picture.ratio.ratio-1x1
            img.object-fit-cover(src="@/assets/img/swiper/2.jpg" alt="")
        .swiper-slide 
          picture.ratio.ratio-1x1
            img.object-fit-cover(src="@/assets/img/swiper/2.jpg" alt="")