section.section.container 
  .section-heading 
    h2.section-heading__title Wir sind Experten für
  .features.row
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 01
          h3.features__title Erstellen und Prüfen von Arbeitsverträgen
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 02
          h3.features__title Aufhebungsvertrag, Abwicklungsvertrag
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 03
          h3.features__title Betriebsrat, Personalvertretung, Tarifrecht
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 04
          h3.features__title Kündigungsschutzklagen
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 05
          h3.features__title Befristetes Arbeitsverhältnis
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 06
          h3.features__title Abmahnungen
      .col-lg-4.col-md-6.col-12
        .features__item
          span.features__index(aria-hidden="true") 07
          h3.features__title Kündigungen
