footer.footer 
  .footer__inner.container
    .footer__col.footer__logo.logo 
      a.logo__link(href="") 
        img.logo__src(src="@/assets/img/logo-2.svg" alt="")
    .footer__col.footer__nav.footer-nav
      h4.footer__heading Navigation
      nav.footer-nav__nav 
        ul.footer-nav__list 
          li.footer-nav__item 
            a.footer-nav__link(href="") Startseite
          li.footer-nav__item 
            a.footer-nav__link(href="") Rechtsgebiete
          li.footer-nav__item 
            a.footer-nav__link(href="") Über uns
          li.footer-nav__item 
            a.footer-nav__link(href="") Cases / News
          li.footer-nav__item 
            a.footer-nav__link(href="") Team
          li.footer-nav__item 
            a.footer-nav__link(href="") Karriere
          li.footer-nav__item 
            a.footer-nav__link(href="") Kontakt
    .footer__col.footer__nav.footer-nav
      h4.footer__heading Navigation
      nav.footer-nav__nav 
        ul.footer-nav__list.footer-nav__list--two-columns
          li.footer-nav__item 
            a.footer-nav__link(href="") Arbeitsrecht
          li.footer-nav__item 
            a.footer-nav__link(href="") Baurecht
          li.footer-nav__item 
            a.footer-nav__link(href="") Erbrecht und Vermögensnachfolge
          li.footer-nav__item 
            a.footer-nav__link(href="") Gesellsc haftsrecht
          li.footer-nav__item 
            a.footer-nav__link(href="") Gewerblicher Rechtsschutz
          li.footer-nav__item 
            a.footer-nav__link(href="") Immobilienrecht / Grundstücksrecht
          li.footer-nav__item 
            a.footer-nav__link(href="") Mietrecht
          li.footer-nav__item 
            a.footer-nav__link(href="") Prof. Forderungs-management
    .footer__col.footer__contacts.footer-contacts 
      h4.footer__heading Kontakt
      .footer-contacts__inner 
        address.footer-contacts__item Bonsiepen 13 45136 Essen
        a.footer-contacts__item(href="") +49 201 95 98 2 0
        a.footer-contacts__item(href="") info@ohletz.eu
      .footer-contacts__socials.footer-socials
        a.footer-socials__item(href="") 
          img.footer-socials__image(src="@/assets/img/socials/1.svg" alt="")
        a.footer-socials__item(href="") 
          img.footer-socials__image(src="@/assets/img/socials/2.svg" alt="")
        a.footer-socials__item(href="") 
          img.footer-socials__image(src="@/assets/img/socials/3.svg" alt="")
  .footer__bottom.container 
    span.footer__copyright  © 2022 Rechtsanwälte, Notare und Steuerberater in Essen
    .footer__data
      a.footer__data-link(href="") Cookie Einstellungen
      a.footer__data-link(href="") Impressum
      a.footer__data-link(href="") Datenschutz