section.section.section--hero.pb-0
  .hero
    .container.d-md-flex.justify-content-between
      div(class=col12 ? 'col-md-12' : 'col-md-8')
        if heroBack
          a.btn.btn--primary.btn--back-link.btn--arrow(href="") 
            svg(width='24' height='24')
              use(href='./assets/sprite.svg#arrow-link')
            | Return
        h1.hero__title=heroTitle
      if heroDesc
        .col-md-4 
          p.hero__desc=heroDesc
    if heroImage
      .container-fluid.g-0
          picture.hero__image.d-block.w-100.ratio.ratio-16x9
            img(src=heroImage alt="")

