section.section.container 
  .page-description 
    h2.page-description__title Ihr Arbeitnehmer: Die wichtigste Ressource im Unternehmen.
    p.page-description__text Im Arbeitsrecht beraten wir Arbeitnehmer und Arbeitgeber zu sämtlichen rechtlichen Fällen am Arbeitsplatz. Dabei setzen wir ihre Ansprüche sowohl außergerichtlich als auch gerichtlich durch!