section.section.container 
  .row.presentation-block.g-0.d-flex.align-items-center.flex-columns.flex-md-row
    .col-md-6.col-12
      .presentation-block__text 
        h2.presentation-block__title OHLETZ – wir bieten Ihnen spezialisierte rechtliche <span>Expertise aus einer Hand.</span> 
        .presentation-block__desc(data-target="presentation-desc") 
          p Die lange Tradition von Zuverlässigkeit, persönlichem Engagement und Erfolg der Kanzlei OHLETZ findet ihre Wurzeln in der vor über 40 Jahren gegründeten Kanzlei Scheidt-Engels. Seit Anbeginn unserer Tätigkeit liegt der Kanzlei-Focus im Bereich des Wirtschafts- und Immobilienrechts (einschließlich Baurecht und Mietrecht).
          p Um unsere Mandanten umfassend und professionell beraten und betreuen zu können, betrachten wir es als Notwendigkeit, Ihnen unser Wissen und Können auch im Rahmen einer vertrauensvollen Notartätigkeit zur Verfügung zu stellen. Aktuell sind 8 Rechtsanwälte und Rechtsanwältinnen der Kanzlei OHLETZ in Ergänzung Ihrer anwaltlichen Tätigkeit auch als Notar/Notarinnen tätig und führen mit Unterstützung eines großartigen Teams von hochqualifizierten Mitarbeitern täglich eine Fülle von Beurkundungen und Beglaubigungen durch. 
        button.hidden-desktop.presentation-block__show-more.js-trigger-class(type="button" data-trigger="presentation-desc") Mehr anzeigen
    .col-md-6.col-12
      picture.presentation-block__image
        img(src="@/assets/img/presentation.jpg" alt="")
