section.section.container 
  .section-heading
    h2.section-heading__title Rechtsanwälte, Notare & #[br] Steuerberater in 
      span Essen: OHLETZ.
  #services-block.services-block.bs-accordion
    each val,index in ['Gesellschaftsrecht' , 'Mietrecht (Gewerbe und Wohnraum)' , 'Immobilienrecht / Grundstückrecht' , 'Erbrecht und Vermögensnachfolge' ]
      article.services-block__item.accordion__item(style="--background:#FFFCDE")
          picture.services-block__background
            img(src="@/assets/img/services-block/1.svg", alt="")
          .accordion-header.services-block__header(id="services-block-1")
            button.accordion-button.services-block__button.w-100.d-flex.justify-content-between.align-items-center( type="button" data-bs-toggle="collapse" data-bs-target=`#services-block-content-${index}` aria-expanded="true" aria-controls=`services-block-content-${index}`)=val
              span.services-block__icon
                svg(width='32' height='32')
                  use(xlink:href='./assets/sprite.svg#arrow')
          .accordion-collapse.collapse(id=`services-block-content-${index}` aria-labelledby=`services-block-${index}` data-bs-parent="#services-block")
            .services-block__content
              p.services-block__desc Wir beraten Sie zu allen Themen rund um den Lebenszyklus einer Immobilie. Dabei erstreckt sich unser Spektrum insbesondere auf das private Baurecht.
              a.services-block__btn.btn.btn--secondary(href="") Mehr erfahren