section.section.container 
  .section-heading
    h2.section-heading__title Rechtsanwälte, Notare & #[br] Steuerberater in 
      span Essen: OHLETZ.
  #services-block.services-block.bs-accordion
    each val,index in ['Gesellschaftsrecht' , 'Mietrecht (Gewerbe und Wohnraum)' , 'Immobilienrecht / Grundstückrecht' , 'Erbrecht und Vermögensnachfolge' ]
      article.accordion-item.services-block__item(style="--background:#FFFCDE")
        picture.services-block__background
          img(src="@/assets/img/services-block/1.svg" alt="")
        .accordion-header.services-block__header(id="services-block-1")
          button.accordion-button.services-block__button.w-100.d-flex.justify-content-between.align-items-center=val
            span.services-block__icon
              svg(width='32' height='32')
                use(href='./assets/sprite.svg#arrow')
        .accordion-collapse
          .accordion-content.services-block__content
            p.services-block__desc Wir beraten Sie zu allen Themen rund um den Lebenszyklus einer Immobilie. Dabei erstreckt sich unser Spektrum insbesondere auf das private Baurecht.
            a.services-block__btn.btn.btn--secondary(href="")
              span Mehr erfahren