section.section.container
  .section-heading 
    h2.section-heading__title Unsere Rechtsgebiete, in denen wir Experten sind
    p.section-heading__desc Wir sprechen viele Sprachen des Rechts, vor allem aber IHRE - überall und immer an Ihrer Seite!
  .services-block-secondary.swiper.js-services-slider 
    .swiper-wrapper 
      a.services-block-secondary__item.swiper-slide(href="#")
        .services-block-secondary__arrow-icon
          svg(width='32' height='32')
            use(xlink:href='./assets/sprite.svg#arrow')
        picture.services-block-secondary__image
          img(src="@/assets/img/services-block-secondary/1.jpg" alt="")
        h3.services-block-secondary__title Professionelles Förderungsmanagement
      a.services-block-secondary__item.swiper-slide(href="#")
        .services-block-secondary__arrow-icon 
          svg(width='32' height='32')
            use(href='./assets/sprite.svg#arrow')
        picture.services-block-secondary__image
          img(src="@/assets/img/services-block-secondary/2.jpg" alt="")
        h3.services-block-secondary__title Baurecht
      a.services-block-secondary__item.swiper-slide(href="#")
        .services-block-secondary__arrow-icon 
          svg(width='32' height='32')
            use(href='./assets/sprite.svg#arrow')
        picture.services-block-secondary__image
          img(src="@/assets/img/services-block-secondary/3.jpg" alt="")
        h3.services-block-secondary__title Gewerblicher Rechtsschutz