section.section.container 
  .section-heading 
      h2.section-heading__title Wir verfügen über ein ausgewogenes Team von Experten in verschiedenen Rechtsbereichen
      .section-heading__text 
        p.section-heading__desc Professionelle Beratung und Betreuung unserer Mandanten sowie vertrauensvolle Notartätigkeit ist bei OHLETZ selbstverständlich!
        a.section-heading__link(href="")  Anwälte und Notare
  .team-block.js-team-slider.swiper.overflow-visible 
    .swiper-wrapper 
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/1.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/2.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/3.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/1.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/2.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/3.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/3.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt
      .team-item.swiper-slide 
        picture.team-item__image 
          img(src="@/assets/img/team/3.jpg" alt="")
        .team-item__text 
          h4.team-item__name Lukas Erdmann
          span.team-item__position Rechtsanwalt



